@import url('variables.css');


/* Checkboxes */
.checkbox-outer[data-v-a511e2f4] {
    align-items: center;
    cursor: pointer;
    display: flex
}

.checkbox-outer p[data-v-a511e2f4] {
    margin: 0;
    padding: .2rem 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.checkbox-outer.disabled[data-v-a511e2f4] {
    cursor: not-allowed
}

.checkbox[data-v-a511e2f4] {
    align-items: center;
    background-color: var(--color-button-bg);
    border-radius: var(--size-rounded-control);
    box-shadow: var(--shadow-inset-sm), 0 0 0 0 transparent;
    color: var(--color-button-text);
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 .5rem 0 0;
    min-height: 1rem;
    min-width: 1rem;
    padding: 0
}

.checkbox.checked[data-v-a511e2f4] {
    background-color: var(--color-brand)
}

.checkbox svg[data-v-a511e2f4] {
    stroke-width: .2rem;
    color: var(--color-brand-inverted);
    flex-shrink: 0;
    height: .8rem;
    width: .8rem
}

.checkbox.collapsing[data-v-a511e2f4] {
    background-color: transparent !important;
    box-shadow: none
}

.checkbox.collapsing svg[data-v-a511e2f4] {
    color: inherit;
    height: 1rem;
    transition: transform .25s ease-in-out;
    width: 1rem
}

.checkbox.collapsing.checked svg[data-v-a511e2f4] {
    transform: rotate(180deg)
}

.checkbox[data-v-a511e2f4]:disabled {
    box-shadow: none;
    cursor: not-allowed
}

/* Filter */

.filter[data-v-35f934e9] {
    margin-bottom: .5rem
}

.filter[data-v-35f934e9] .filter-text {
    align-items: center;
    display: flex
}

.filter[data-v-35f934e9] .filter-text .icon {
    height: 1rem
}

.filter[data-v-35f934e9] .filter-text .icon svg {
    height: 1rem;
    margin-right: .25rem;
    width: 1rem
}

.filter span[data-v-35f934e9] {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.filters-card[data-v-4c82e277] {
    padding: var(--spacing-card-md)
}

/* Search Control */

.search-controls[data-v-4c82e277] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-card-md);
    grid-row: 2;
    padding: var(--spacing-card-md)
}

.search-controls .search-filter-container[data-v-4c82e277] {
    align-items: center;
    display: flex;
    width: 100%
}

.search-controls .search-filter-container .sidebar-menu-close-button[data-v-4c82e277] {
    height: 40px;
    margin-right: var(--spacing-card-md);
    max-height: none;
    transition: box-shadow .1s ease-in-out
}

.search-controls .search-filter-container .sidebar-menu-close-button.open[data-v-4c82e277] {
    background-color: var(--color-brand-highlight);
    box-shadow: inset 0 0 0 transparent, 0 0 0 2px var(--color-brand);
    color: var(--color-button-text-active)
}

.search-controls .search-filter-container .iconified-input[data-v-4c82e277] {
    flex: 1
}

.search-controls .search-filter-container .iconified-input input[data-v-4c82e277] {
    margin: 0;
    width: 100%
}

.search-controls .sort-controls[data-v-4c82e277] {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-card-md);
    width: 100%
}

.search-controls .sort-controls .labeled-control[data-v-4c82e277] {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5rem
}

.search-controls .sort-controls .labeled-control .labeled-control__label[data-v-4c82e277] {
    white-space: nowrap
}

.search-controls .sort-controls .square-button[data-v-4c82e277] {
    height: 40px;
    margin-top: auto;
    width: 40px
}

.search-controls__sorting[data-v-4c82e277] {
    min-width: 14rem
}

.labeled-control__control[data-v-4c82e277],
.labeled-control__label[data-v-4c82e277] {
    display: block
}


/* Multiselect */

.multiselect {
    color: var(--color-base) !important;
    width: 100% !important
}

.multiselect .multiselect__input:focus-visible {
    box-shadow: none !important;
    font-weight: 400 !important;
    margin-bottom: 10px;
    margin-left: .5rem;
    min-height: 0 !important;
    outline: none !important;
    padding: 0 !important
}

.multiselect input {
    border: none !important
}

.multiselect input:focus {
    box-shadow: none
}

.multiselect input::-moz-placeholder {
    color: var(--color-base)
}

.multiselect input::placeholder {
    color: var(--color-base)
}

.multiselect .multiselect__tags {
    background: var(--color-button-bg);
    border-radius: var(--radius-md);
    font-size: 1rem;
    padding-left: .5rem
}

.multiselect .multiselect__tags:active,
.multiselect .multiselect__tags:active .multiselect__spinner {
    filter: brightness(1.25)
}

.multiselect .multiselect__tags .multiselect__tag {
    border-radius: var(--radius-md);
    color: var(--color-base)
}

.multiselect .multiselect__tags .multiselect__tag-icon:after {
    color: var(--color-contrast)
}

.multiselect .multiselect__tags .multiselect__placeholder {
    color: var(--color-base);
    font-size: 1rem;
    margin-left: .5rem
}

.multiselect .multiselect__content-wrapper {
    background: var(--color-button-bg);
    width: 100%
}

.multiselect .multiselect__content-wrapper .multiselect__element .multiselect__option--highlight {
    background: var(--color-button-bg);
    color: var(--color-contrast);
    filter: brightness(1.25)
}

.multiselect .multiselect__content-wrapper .multiselect__element .multiselect__option--selected {
    color: var(--color-accent-contrast)
}

.multiselect .multiselect__spinner {
    background: var(--color-button-bg)
}

.multiselect .multiselect__spinner:active {
    filter: brightness(1.25)
}

.multiselect--above .multiselect__content-wrapper {
    border-top-left-radius: var(--radius-md) !important;
    border-top-right-radius: var(--radius-md) !important
}




.multiselect--above .multiselect__content-wrapper {
    border-top: none !important;
    border-top-left-radius: var(--size-rounded-card) !important;
    border-top-right-radius: var(--size-rounded-card) !important
}

.known-error .multiselect__tags {
    background-color: var(--color-warning-bg) !important;
    border-color: var(--color-special-red) !important
}

.known-error .multiselect__tags::-moz-placeholder {
    color: var(--color-warning-text)
}

.known-error .multiselect__tags::placeholder {
    color: var(--color-warning-text)
}

.multiselect {
    color: var(--color-text) !important;
    outline: 2px solid transparent
}

.multiselect.raised-multiselect .multiselect__content-wrapper,
.multiselect.raised-multiselect .multiselect__spinner,
.multiselect.raised-multiselect .multiselect__tags {
    background-color: var(--color-raised-bg);
    box-shadow: none
}

.multiselect input {
    background: transparent;
    box-shadow: none
}

.multiselect input::-moz-placeholder {
    color: var(--color-text)
}

.multiselect input::placeholder {
    color: var(--color-text)
}

.multiselect .multiselect__tags {
    background: var(--color-dropdown-bg);
    border: none;
    border-radius: var(--size-rounded-sm);
    box-shadow: var(--shadow-inset-sm);
    cursor: pointer;
    padding-left: 7px;
    padding-top: 10px;
    transition: background-color .1s ease-in-out
}

.multiselect .multiselect__tags:active,
.multiselect .multiselect__tags:active .multiselect__spinner {
    background: var(--color-button-bg-hover)
}

.multiselect .multiselect__tags .multiselect__single {
    background: transparent;
}

.multiselect .multiselect__tags .multiselect__tag {
    background: transparent;
    border: 2px solid var(--color-brand);
    border-radius: var(--size-rounded-sm);
    color: var(--color-text-dark)
}

.multiselect .multiselect__tags .multiselect__tag-icon {
    background: transparent
}

.multiselect .multiselect__tags .multiselect__tag-icon:after {
    color: var(--color-text-dark)
}

.multiselect .multiselect__tags .multiselect__placeholder {
    color: var(--color-button-text);
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px;
    margin-left: 8px;
    opacity: .6
}

.multiselect .multiselect__content-wrapper {
    background: var(--color-dropdown-bg);
    border: none;
    border-bottom-left-radius: var(--size-rounded-sm);
    border-bottom-right-radius: var(--size-rounded-sm);
    box-shadow: var(--shadow-inset-sm), var(--shadow-floating);
    overflow-x: hidden
}

.multiselect .multiselect__content-wrapper .multiselect__element .multiselect__option--highlight {
    background: var(--color-button-bg-active);
    color: var(--color-text-dark)
}

.multiselect .multiselect__content-wrapper .multiselect__element .multiselect__option--selected {
    background: var(--color-brand);
    color: var(--color-brand-inverted);
    font-weight: 700
}

.multiselect .multiselect__spinner {
    background: var(--color-dropdown-bg)
}

.multiselect .multiselect__spinner:active {
    background: var(--color-button-bg-hover)
}

.multiselect.multiselect--disabled,
.multiselect.multiselect--disabled .multiselect__current,
.multiselect.multiselect--disabled .multiselect__select {
    background: none
}












.multiselect__spinner {
    background: #fff;
    display: block;
    height: 35px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 48px
}

.multiselect__spinner:after,
.multiselect__spinner:before {
    border: 2px solid transparent;
    border-radius: 100%;
    border-top-color: #41b883;
    box-shadow: 0 0 0 1px transparent;
    content: "";
    height: 16px;
    left: 50%;
    margin: -8px 0 0 -8px;
    position: absolute;
    top: 50%;
    width: 16px
}

.multiselect__spinner:before {
    animation: spinning 2.4s cubic-bezier(.41, .26, .2, .62);
    animation-iteration-count: infinite
}

.multiselect__spinner:after {
    animation: spinning 2.4s cubic-bezier(.51, .09, .21, .8);
    animation-iteration-count: infinite
}

.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
    opacity: 1;
    transition: opacity .4s ease-in-out
}

.multiselect__loading-enter,
.multiselect__loading-leave-active {
    opacity: 0
}

.multiselect,
.multiselect__input,
.multiselect__single {
    font-family: inherit;
    font-size: 16px;
    touch-action: manipulation
}

.multiselect {
    box-sizing: content-box;
    color: #35495e;
    display: block;
    min-height: 40px;
    position: relative;
    text-align: left;
    width: 100%
}

.multiselect * {
    box-sizing: border-box
}

.multiselect:focus {
    outline: none
}

.multiselect--disabled {
    background: #ededed;
    opacity: .6;
    pointer-events: none
}

.multiselect--active {
    z-index: 50
}

.multiselect--active:not(.multiselect--above) .multiselect__current,
.multiselect--active:not(.multiselect--above) .multiselect__input,
.multiselect--active:not(.multiselect--above) .multiselect__tags {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.multiselect--active .multiselect__select {
    transform: rotate(90deg) /* transform: rotate(180deg) */
}

.multiselect--above.multiselect--active .multiselect__current,
.multiselect--above.multiselect--active .multiselect__input,
.multiselect--above.multiselect--active .multiselect__tags {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.multiselect__input,
.multiselect__single {
    background: #fff;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 8px;
    min-height: 20px;
    padding: 0 0 0 5px;
    position: relative;
    transition: border .1s ease;
    vertical-align: top;
    width: 100%
}

.multiselect__input::-moz-placeholder {
    color: #35495e
}

.multiselect__input::placeholder {
    color: #35495e
}

.multiselect__tag~.multiselect__input,
.multiselect__tag~.multiselect__single {
    width: auto
}

.multiselect__input:hover,
.multiselect__single:hover {
    border-color: #cfcfcf
}

.multiselect__input:focus,
.multiselect__single:focus {
    border-color: #a8a8a8;
    outline: none
}

.multiselect__single {
    margin-bottom: 8px;
    padding-left: 5px
}

.multiselect__tags-wrap {
    display: inline
}

.multiselect__tags {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    min-height: 40px;
    padding: 8px 40px 0 8px
}

.multiselect__tag {
    background: #41b883;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    line-height: 1;
    margin-bottom: 5px;
    margin-right: 10px;
    max-width: 100%;
    overflow: hidden;
    padding: 4px 26px 4px 10px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap
}

.multiselect__tag-icon {
    border-radius: 5px;
    bottom: 0;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin-left: 7px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all .2s ease;
    width: 22px
}

.multiselect__tag-icon:after {
    color: #266d4d;
    content: "×";
    font-size: 14px
}

.multiselect__tag-icon:focus:after,
.multiselect__tag-icon:hover:after {
    color: #fff
}

.multiselect__current {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    min-height: 40px;
    overflow: hidden;
    padding: 8px 30px 0 12px;
    white-space: nowrap
}

.multiselect__current,
.multiselect__select {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    line-height: 16px;
    margin: 0;
    text-decoration: none
}

.multiselect__select {
    height: 38px;
    padding: 4px 8px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    transition: transform .2s ease;
    width: 40px
}

.multiselect__select:before {
    border-color: transparent transparent transparent var(--color-icon); /* border-color: #999 transparent transparent;*/
    border-style: solid;
    border-width: 5px 0 5px 5px; /*border-width: 5px 5px 0*/
    color: var(--color-icon);
    content: "";
    margin-top: 4px;
    position: relative;
    right: 0;
    top: 50%; /* top: 65% */
}

.multiselect__placeholder {
    color: #adadad;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 2px
}

.multiselect--active .multiselect__placeholder {
    display: none
}

.multiselect__content-wrapper {
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    display: block;
    max-height: 240px;
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 50
}

.multiselect__content {
    display: inline-block;
    list-style: none;
    margin: 0;
    min-width: 100%;
    padding: 0;
    vertical-align: top
}

.multiselect--above .multiselect__content-wrapper {
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #e8e8e8;
    bottom: 100%
}

.multiselect__content::-webkit-scrollbar {
    display: none
}

.multiselect__element {
    display: block
}

.multiselect__option {
    cursor: pointer;
    display: block;
    line-height: 16px;
    min-height: 40px;
    padding: 12px;
    position: relative;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap
}

.multiselect__option:after {
    font-size: 13px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 12px;
    position: absolute;
    right: 0;
    top: 0
}

.multiselect__option--highlight {
    background: #41b883;
    color: #fff;
    outline: none
}

.multiselect__option--highlight:after {
    background: #41b883;
    color: #fff;
    content: attr(data-select)
}

.multiselect__option--selected {
    background: #f3f3f3;
    color: #35495e;
    font-weight: 700
}

.multiselect__option--selected:after {
    color: silver;
    content: attr(data-selected)
}

.multiselect__option--selected.multiselect__option--highlight {
    background: #ff6a6a;
    color: #fff
}

.multiselect__option--selected.multiselect__option--highlight:after {
    background: #ff6a6a;
    color: #fff;
    content: attr(data-deselect)
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
    background: #ededed;
    color: #a6a6a6
}

.multiselect__option--disabled {
    background: #ededed !important;
    color: #a6a6a6 !important;
    cursor: text;
    pointer-events: none
}

.multiselect__option--group {
    background: #ededed;
    color: #35495e
}

.multiselect__option--group.multiselect__option--highlight {
    background: #35495e;
    color: #fff
}

.multiselect__option--group.multiselect__option--highlight:after {
    background: #35495e
}

.multiselect__option--disabled.multiselect__option--highlight {
    background: #dedede
}

.multiselect__option--group-selected.multiselect__option--highlight {
    background: #ff6a6a;
    color: #fff
}

.multiselect__option--group-selected.multiselect__option--highlight:after {
    background: #ff6a6a;
    color: #fff;
    content: attr(data-deselect)
}

.multiselect-enter-active,
.multiselect-leave-active {
    transition: all .15s ease
}

.multiselect-enter,
.multiselect-leave-active {
    opacity: 0
}

.multiselect__strong {
    display: inline-block;
    line-height: 20px;
    margin-bottom: 8px;
    vertical-align: top
}