@import url('variables.css');

/* .list-card {

} */

.category-container {
    float: left;
    position:relative;
    display: flex;
    flex-direction:column;

    row-gap: var(--spacing-card-sm);
}

.category-container:not(.level-0) {
    box-sizing:border-box;
    border-left: 2px solid var(--color-table-border);
    border-radius: 0 0 0 var(--radius-lg);
}

.category-container + .category, .project + .category {
    margin-top: var(--gap-lg);
}

.category-label {
    font-weight: var(--font-weight-bold);
    color: var(--color-text-dark)
}

.project {
    margin-top: 0;
}

/* NOTE: Maybe transfer this too base-card */


.project.selected {
    /* border-bottom: 2px solid var(--color-brand-shadow); */
    border-right: 3px solid var(--color-brand-shadow);
    border-left: 3px solid var(--color-brand-shadow);
    /* create an outline with 3px green and 10px transparent on the left and right side */
    filter: var(--active-filter);
}

.project.deactivated {
    filter: grayscale(100%);
    pointer-events: none;
    filter: var(--deactive-filter);
}


.project-label {
    
}

/* Level */

.level-0 {

}

.level-1 {
    margin-left : calc(0.5 * var(--gap-lg));
    padding-left : calc(0.5 * var(--gap-lg));
}

.level-2 {
    margin-left : calc(1.5 * var(--gap-lg));
    padding-left : calc(0.5 * var(--gap-lg));
}

.level-3 {
    margin-left : calc(2.5 * var(--gap-lg));
    padding-left : calc(0.5 * var(--gap-lg));
}
