@import url('variables.css');

/* Add a black background color to the top navigation */
.topnav {
    /* background-color: #222; */
    overflow: hidden;
}

  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #ddd;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #444;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


/* Tab System */

.tab {
    display: none;
}

.tabcontent {
    display: none;
}

.active {
    background-color: #444;
}


.mod-item {
    align-items: left; /* vertically align items */
    gap: 10px;  /* spacing between image and mod info */
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin: 10px 20px 0px 0px; 
    border-radius: 5px;
    background-color: #333;
    color: #ddd;
}

.mod-icon {
    width: 50px;  /* or desired size */
    height: 50px;
    border-radius: 50%;  /* makes it circular */
    object-fit: cover;   /* keep aspect ratio */
}

.mod-info {
    /* display: flex; */
    /* flex-direction: column; */
    gap: 5px;
    color: #aaa;
}

.mod-title {
    font-size: 1.2em;
    margin: 0;
    color: white;
}

.mod-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: #aaa;
}

.mod-details {
    /* display: flex; */
    gap: 10px;
    color: #888;
}